<div class="container">
  <div class="row">
    <h2 style="text-align:center; color:pink;"><a href="/apeachbook/index">어피치북으로 가기</a></h2>
    <h2 style="text-align:center; color:blue;"><a href="/peachter/index">피치터로 가기</a></h2>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
      <%= image_tag "/apeach.jpeg" %>
    </div>
  </div>
</div>
